* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
}

.container {
    height: 500px;
    width: 350px;
    background-color: white;
    border: 2px solid black;
    display: grid;
    place-items: center;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

button {
    cursor: pointer;
    border: none;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: large;
    color: white;
    background-color: black;
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #333;
}
